<h2 class="text-center" *ngIf="user">{{ titulo }}{{ user.name }}</h2>

<div class="row justify-content-md-center mb-2 bordediv" *ngIf="user">
  <div class="col-md-1 perfil-image text-center">
    <br />
    <span class="mr-1">{{ user.nick }}</span>
    <span class="badge badge-secondary" *ngIf="seguido">Te sigue</span>
    <span class="badge badge-secondary" *ngIf="!seguido">No te sigue</span>
    <br />
    <br />
    <img src="{{url + '/get-image-user/' +  user.image}}" alt="" /> <br />
    <br />
    <button
      class="btn btn-outline-primary btn-sm"
      *ngIf="!siguiendo"
      (click)="seguirUsuario(user._id)"
    >
      Seguir &nbsp;<i class="far fa-thumbs-up"></i>
    </button>
    <button
      class="btn btn-outline-secondary btn-sm"
      *ngIf="siguiendo"
      (click)="dejarDeSeguir(user._id)"
      (mouseenter)="mouseEnter(user._id)"
      (mouseleave)="mouseLeave()"
      [class.btn-outline-danger]="user._id == seguirUsuarioOver"
    >
      <span *ngIf="user._id == seguirUsuarioOver; else: following"
        >Dejar de seguir &nbsp;<i class="far fa-thumbs-down"></i
      ></span>
      <ng-template #following>
        Siguiendo&nbsp;<i class="fas fa-user-check"></i>
      </ng-template>
    </button>
    <br />
    <br />
  </div>
  <div id="user-card" class="col-md-10 card text-center sombreado ml-5">
    <div class="row">
      <div class="col col-md-5"><p>Hola Alex</p></div>
      <div class="col-md-auto"><chart [id]="id"></chart></div>
    </div>
  </div>
</div>
