<div class="row justify-content-md-center mb-2 bordediv" *ngIf="user">
  <div class="col-md-1 perfil-image">
    <img src="{{url + '/get-image-user/' +  user.image}}" alt="" />
  </div>
  <div id="user-card" class="col-md-10 card text-center sombreado">
    <h2>
      {{ titulo }}{{ user.name }}
      <span class="badge badge-secondary" *ngIf="seguido">Te sigue</span>
      <span class="badge badge-secondary" *ngIf="!seguido">No te sigue</span>
    </h2>
    <span>{{ user.nick }}</span> <br />
    <br />
    <br />
    <button
      class="btn btn-success btn-sm"
      *ngIf="!siguiendo"
      (click)="seguirUsuario(user._id)"
    >
      Seguir
    </button>
    <button
      class="btn btn-primary btn-sm"
      *ngIf="siguiendo"
      (click)="dejarDeSeguir(user._id)"
      (mouseenter)="mouseEnter(user._id)"
      (mouseleave)="mouseLeave()"
      [class.btn-danger]="user._id == seguirUsuarioOver"
    >
      <span *ngIf="user._id == seguirUsuarioOver; else: following"
        >Dejar de seguir</span
      >
      <ng-template #following> Siguiendo </ng-template>
    </button>
    <br />
  </div>
</div>
