<div class="row justify-content-md-center mb-2">
    <div id="user-card" class="col-lg-10 card text-center sombreado">
        <h2>{{titulo}}</h2>
        <br>
        <br>
        <br>

        <div *ngFor="let publication of publications" class="item-publication">

            <div class="rolex">

                <div class="uno">
                    <div class="avatar-publi" *ngIf="publication.user.image">
                        <img src="{{url + '/get-image-user/' + publication.user.image}}" alt="Avatar">
                    </div>
                    <div class="avatar-publi" *ngIf="!publication.user.image">
                        <img src="assets/avatar.png" alt="Avatar">
                    </div>
                </div>

                <div class="dos">
                    <div class="">
                        <h4>{{publication.user.name}}</h4>
                    </div>
                    <p>{{publication.text}}</p>
                    <br>
                </div>
                <div class="tres">

                </div>

            </div>
            <br>
            <img src="../../../assets/separador/separador2.gif" alt="">
        </div>
    </div>
</div>
<div class="row justify-content-md-center mb-2">
    <button class="btn btn-outline-dark btn-small" (click)="viewMore()" *ngIf="!noMore">
        Ver mas publicaciones
    </button>
</div>