/*
   server-side-angular-way.component.css
*/

.no-data-available {
    text-align: center;
}


/*
     src/styles.css (i.e. your global style)
  */

.dataTables_empty {
    display: none;
}

.tarje {
    padding: 3%;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}