<div class="container mt-3 mb-5" *ngIf="pelicula">
    <h3 class="text-center">Detalles {{pelicula.Type}}</h3>
    <div class="row mt-5 ">
        <div class="col-md-5 tar mb-5">
            <div class="card">
                <img class="card-img-top" [src]="pelicula.Poster" [alt]="pelicula.Title">
            </div>
            <div class="alert alert-success mt-5 sombreado" *ngIf="status == 'success'">
                {{message}}
                <!-- <a [routerLink]="['/login']">Identificate aqui</a> -->
            </div>
            <div class="alert alert-danger mt-5 sombreado" *ngIf="status == 'error'">
                {{message}}
            </div>
        </div>
        <div class="col-md-7">
            <div class="card sombreado">
                <div class="card-header">
                    <h4 class="text-center">{{pelicula.Title}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{pelicula.Plot}}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>  Director : </strong>{{pelicula.Director}}</li>
                        <li class="list-group-item"><strong>  Estreno : </strong>{{pelicula.Released}}</li>
                        <li class="list-group-item"><strong>  Duración : </strong>{{pelicula.Runtime}}</li>
                        <li class="list-group-item"><strong>  Actores : </strong>{{pelicula.Actors}}</li>
                        <li class="list-group-item"><strong>  Genero : </strong>{{pelicula.Genre}}</li>
                        <li class="list-group-item"><strong>  Nota IMDB: </strong>{{pelicula.imdbRating}}</li>
                        <li class="list-group-item"><strong>  Total votos: </strong>{{pelicula.imdbVotes}}</li>
                        <li class="list-group-item"><strong>  Productora: </strong>{{pelicula.Production}}</li>
                        <li class="list-group-item"><strong>  Permitida: </strong>{{pelicula.Rated}}</li>
                        <li class="list-group-item"><strong>  Pais: </strong>{{pelicula.Country}}</li>
                        <li class="list-group-item"><strong>  Premios: </strong>{{pelicula.Awards}}</li>
                        <li class="list-group-item"><strong>  Mis puntos: </strong>
                            <input type="number" class="inp" name="puntos" #puntos="ngModel" [(ngModel)]="pelicula.puntos" min=0 max=10></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button (click)="grabarPeli(pelicula.imdbID,pelicula.puntos )" class="btn btn-outline-danger">Guardar</button>
    <a href="https://www.imdb.com/title/{{pelicula.imdbID}}" target="_blank" class="btn btn-outline-dark">IMDB</a>
    <button [routerLink]="['/peliculas']" class="btn btn-outline-success">Buscar mas</button>
    <button [routerLink]="['/mispeliculas']" class="btn btn-outline-primary">Mis pelis</button>
</div>