<div class="row">

    <div class="col-lg-8">
        <!-- <h1>{{titulo}}</h1> -->
        <div class="alert alert-success" *ngIf="status == 'success'">
            {{message}}
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            {{message}}
        </div>

        <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" class="col-lg-12">
            <h3 class="text-center mb-3">Selecciona una imagen para tu perfil o sube la tuya</h3>

            <div class="form-group user-images">
                <div class="row">
                    <div class="col-md-2 box"><label class="imagecustom"><img src="{{url + '/get-image-user/virtualgirl.jpg' }}" alt="..." class="img-thumbnail img-check">
                  <input (click)="clak(virtualgirl)" type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                    <div class="col-md-2 box"><label class="imagecustom"><img src="{{url + '/get-image-user/morena.jpg' }}" alt="..." class="img-thumbnail img-check">
                  <input (click)="clak(morena)" type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>



                    <div class="col-md-2 box"><label class="imagecustom"><img src="{{url + '/get-image-user/snapshots.jpg' }}" alt="..." class="img-thumbnail img-check">
                    <input type="file" (change)="fileChangeEvent($event)"></label></div>
                </div>
            </div>


            <!-- <div class="form-group user-images">
              <div class="row">
                  <div class="col-md-2 box" *ngFor="let img of urlsImagesDefault"><label class="imagecustom"><img src="{{img.urlImage}}" alt="..." class="img-thumbnail img-check">
                  <input (click)="clak(img.urlImage, buttonsForm)" #buttonsForm type="radio" name="image" id="item4"
                  value="{{img.value}}" class="hidden" autocomplete="off"></label></div>
              </div>
          </div> -->

            <!-- <div class="clearfix"></div>
          <input type="submit" value="Check Item" class="btn btn-success"> -->

            <hr>
            <h3 class="text-center">Datos</h3>
            <p>
                <label>Nombre</label>
                <input type="text" name='name' #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
                <span *ngIf="!name.value && name.touched">
             El nombre es obligatorio
           </span>
            </p>
            <p>
                <label>Nick</label>
                <input type="text" name='nick' #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required/>
                <span *ngIf="!nick.value && nick.touched">
             El nick es obligatorio
           </span>
            </p>
            <p>
                <label>Apellidos</label>
                <input type="text" name='surname' #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
                <span *ngIf="!surname.value && surname.touched">
             Los apellidos es obligatorio
           </span>
            </p>
            <p>
                <label>Correo electronico</label>
                <input type="text" name='email' #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
                <span *ngIf="!email.value && email.touched">
             El nombre es obligatorio
           </span>
            </p>

            <p>
                <label>Descripción acerca de ti</label>
                <textarea name="description" #description="ngModel" [(ngModel)]="user.description" class="form-control" placeholder="¿Donde vives?, ¿Cual es tu ciudad o lugar favorito?, ¿cual es tu serie o pelicula favorita?, ¿Que música escuchas?, ¿Que te gusta hacer?, Indica algún hobbie......."
                    required></textarea>
                <span *ngIf="!description.value && description.touched">
             El nombre es obligatorio
           </span>
            </p>

            <input type="submit" value="Guardar cambios" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
        </form>
    </div>

    <div class="col-lg-4">
        <h3 class="text-center mb-3">Imagen Seleccionada</h3>
        <div *ngIf="user.image" class="imagendefault text-center">
            <img src="{{url + '/get-image-user/' + user.image }}" alt="">
        </div>
    </div>

</div>