<div class="col-lg-8">
    <!-- <h1>{{titulo}}</h1> -->
    <div class="alert alert-success" *ngIf="status == 'success'">
        {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        {{message}}
    </div>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" class="col-lg-12">
        <h3 class="text-center mb-3">Selecciona una imagen para tu perfil o sube la tuya</h3>

        <div class="form-group user-images">
            <div class="row">
                <div class="col-md-2 box"><label class="imagecustom"><img src="{{chicoFormal}}" alt="..." class="img-thumbnail img-check">
                <input (click)="clak(chicoFormal)" type="radio" name="image" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="{{monoLunatico}}" alt="..." class="img-thumbnail img-check">
                <input (click)="clak(monoLunatico)" type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/leon3.jpg" alt="..." class="img-thumbnail img-check">
                <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica11.jpg" alt="..." class="img-thumbnail img-check">
                <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica12.jpg" alt="..." class="img-thumbnail img-check">
                <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val5" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica18.jpg" alt="..." class="img-thumbnail img-check">
                  <input (click)="clak(image)" type="radio" name="image" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica20.jpg" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica19.png" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica17.jpg" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/sapo.png" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val5" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/budista.png" alt="..." class="img-thumbnail img-check">
                    <input (click)="clak(image)" type="radio" name="image" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/carnaval.png" alt="..." class="img-thumbnail img-check">
                    <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>




                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica38.png" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chica39.png" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/unicorn.jpg" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val5" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chico1.jpg" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/chico2.png" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>

                <div class="col-md-2 box"><label class="imagecustom"><img src="../../../assets/userdefaultimage/japo.jpg" alt="..." class="img-thumbnail img-check">
                  <input type="radio" name="image" #image="ngModel" [(ngModel)]="user.image" id="item4" value="val5" class="hidden" autocomplete="off"></label></div>
            </div>
        </div>


        <!-- <div class="form-group user-images">
            <div class="row">
                <div class="col-md-2 box" *ngFor="let img of urlsImagesDefault"><label class="imagecustom"><img src="{{img.urlImage}}" alt="..." class="img-thumbnail img-check">
                <input (click)="clak(img.urlImage, buttonsForm)" #buttonsForm type="radio" name="image" id="item4"
                value="{{img.value}}" class="hidden" autocomplete="off"></label></div>
            </div>
        </div> -->

        <!-- <div class="clearfix"></div>
        <input type="submit" value="Check Item" class="btn btn-success"> -->

        <hr>
        <h3 class="text-center">Datos</h3>
        <p>
            <label>Nombre</label>
            <input type="text" name='name' #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
            <span *ngIf="!name.value && name.touched">
           El nombre es obligatorio
         </span>
        </p>
        <p>
            <label>Nick</label>
            <input type="text" name='nick' #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required/>
            <span *ngIf="!nick.value && nick.touched">
           El nick es obligatorio
         </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input type="text" name='surname' #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
            <span *ngIf="!surname.value && surname.touched">
           Los apellidos es obligatorio
         </span>
        </p>
        <p>
            <label>Correo electronico</label>
            <input type="text" name='email' #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
            <span *ngIf="!email.value && email.touched">
           El nombre es obligatorio
         </span>
        </p>

        <p>
            <label>Descripción acerca de ti</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="user.description" class="form-control" placeholder="¿Donde vives?, ¿Cual es tu ciudad o lugar favorito?, ¿cual es tu serie o pelicula favorita?, ¿Que música escuchas?, ¿Que te gusta hacer?, Indica algún hobbie......."
                required></textarea>
            <span *ngIf="!description.value && description.touched">
           El nombre es obligatorio
         </span>
        </p>

        <input type="submit" value="Guardar cambios" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
    </form>

</div>