<!-- <div class="login-wrap mt-5">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div>
            </div>
            <div class="sign-up-htm" *ngIf="false">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#" for="tab-1">Already Member?</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="col-md-6">
    <h1 class="h1-strong">{{titulo}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        {{message}} <a [routerLink]="['/login']">Identificate aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se ha podido registrar, {{message}}
    </div>
    <div class="card">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="p-4">
            <p>
                <label for="">Correo electrónico</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <span *ngIf="!email.valid && email.touched">El email no es correcto!!</span>
            </p>
            <p>
                <label for="">contraseña</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
                <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria!!</span>
            </p>
            <input type="submit" value={{titulo}} class="btn btn-success mt-2" [disabled]="!loginForm.form.valid" />
        </form>
    </div>
</div>