<!-- <div class="prueba3">
    <div class="prueba23">
        <div class="col-md-6">
            <h1 class="h1-strong">{{titulo}}</h1>
            <div class="alert alert-success" *ngIf="status == 'success'">
                {{message}}
            </div>
            <div class="alert alert-danger" *ngIf="status == 'error'">
                No se ha podido registrar, {{message}}
            </div>
            <div class="card pru">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="p-4">
                    <p>
                        <label for="">Correo electrónico</label>
                        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <span *ngIf="!email.valid && email.touched">El email no es correcto!!</span>
                    </p>
                    <p>
                        <label for="">contraseña</label>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
                        <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria!!</span>
                    </p>
                    <input type="submit" value={{titulo}} class="btn btn-success mt-2" [disabled]="!loginForm.form.valid" />
                </form>
            </div>
        </div>
    </div>
</div>
<hr> -->
<!-- NEW LOGIN -->

<div class="antesMain">
    <div class="main">
        <div class="bg"></div>
        <div class="bg2"></div>
        <div class="content">
            <div class="button-container">
                <button class="button" (click)="hazalgo()"><div class="circle animate"></div><span class="sign-in">Entrar</span><div class="loader"></div></button>
            </div>
            <div class="controls">
                <div class="icon">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                </div>
                <div class="inputs">
                    <svg class="login" xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 44 40"><g stroke="#fff" fill="none" stroke-width="3.538" transform="translate(0 -1012.362)"><ellipse ry="8.09" rx="8.244" cy="1022.221" cx="21.555" stroke-linecap="round"/><path d="M1.858 1046.4c-.79 4.74 3.805 4.11 3.805 4.11H37.88s4.846.936 4.312-3.854c-.533-4.79-6.076-10.937-20.04-11.043-13.964-.106-19.504 6.047-20.294 10.786z"/></g></svg>
                    <input class="input" type="email" [(ngModel)]="user.email">
                    <svg class="lock" xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46"><g transform="translate(-28.15 -974.678)" stroke="#fff" fill="none" stroke-width="3.509"><rect ry="3.136" y="995.18" x="29.903" height="23.743" width="40.491" stroke-linecap="round"/><path d="M49.386 1004.406v4.788" stroke-linecap="round"/><path d="M37.073 994.83s-1.39-18.398 12.97-18.398c14.36 0 12.207 18.397 12.207 18.397"/></g></svg>
                    <input class="input" type="password" name="password" #password="ngModel" [(ngModel)]="user.password">
                </div>
            </div>
        </div>
    </div>
</div>