<div class="wrapper">

    <div class="flip-card" *ngFor="let user of users">
        <div class="flip-card-inner">
            <div class="flip-card-front imagenavatar" *ngIf="user.image">
                <img src="{{url + '/get-image-user/' + user.image}}" alt="Avatar" style="width:300px;height:300px;">
                <h1>{{user.name}}</h1>
            </div>
            <div class="flip-card-front avatar-default" *ngIf="!user.image">
                <img src="assets/avatar.png" alt="Avatar">
                <h1>{{user.name}}</h1>
            </div>

            <div class="flip-card-back">
                <div class="mt-4 inside-back">

                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>

                    <!-- SEGUIR/DEJAR DE SEGUIR -->
                    <!-- CHECK COMPATIBILITY -->
                    <button type="button" class="btn btn-success">Seguir</button>
                    <button type="button" class="btn btn-warning ml-1">Dejar de seguir</button>
                    <br>
                    <button type="button" class="btn btn-info btn-lg mt-2">Ver compatibilidad</button>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div> -->

</div>