.tar {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tar img {
    border-radius: 10px 10px 0px 0px
    /* padding: 2%; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
    grid-gap: 15px;
}

.button-container {
    align-self: end;
    grid-template-columns: auto auto;
    display: grid;
    padding: 10px;
    justify-content: space-between;
    align-content: end;
    grid-gap: 15px;
}

.boton {
    align-self: center;
}

.padlef {
    padding-left: 1px;
}


/* .busca {
    display: block;
    max-width: 900px;
    margin: auto;
    padding: 100px;
    height: 100%;
    outline: none;
}

.search-busca {
    overflow: hidden;
    float: right;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}

.search-busca:hover,
.search-busca:focus {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
    outline: none;
}

.search-busca:hover input,
.search-busca:focus input {
    display: inline-block;
    width: 19em;
    padding: 10px;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

input:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    background: #6A5D4F;
    text-align: center;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.button i {
    margin-top: 0.3em;
}

.button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
}

.boto {
    color: white
} */