<div class="container">
    <h1 class="mt-4">Buscador de peliculas</h1>
    <form class="mt-4" #f="ngForm" (ngSubmit)="onFormSubmit(f)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar peliculas" ngModel name="pelis">
        </div>
        <button type=" submit " class="btn btn-primary " placement="top" ngbTooltip="Tooltip on top">Buscar</button>
        <button [routerLink]="['/mispeliculas']" class="btn btn-outline-primary ml-3">Mis pelis</button>
    </form>

    <!-- <h3>Prueba buscador</h3>
    <div class='busca' tabindex='1'>
        <div class='search-busca' tabindex='1'>
            <input placeholder='Buscar Peliculas' type='text'>
            <a class='button'>
                <i class="fas fa-search boto"></i>
            </a>
        </div>
    </div> -->


    <!-- <div class="grid-container">
        <div *ngFor="let pelis of peliculas" class="tar">
            <img src="{{pelis.Poster}}">
            <h5 class="card-title text-center pt-3">{{pelis.Title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-outline-primary" (click)="detalles(pelis.imdbID)">
                   Detalles
            </button>
            <a href="" class="btn btn-outline-primary">ver mas....</a>
        </div>
    </div> -->

    <div class="card-deck grid-container">
        <div class="card col-md-2" *ngFor="let pelis of peliculas" class="tar">
            <div class="padlef">

                <img *ngIf="pelis.Poster == 'N/A'" class="card-img-top" src="../../assets/noposter.png">
                <img *ngIf="pelis.Poster != 'N/A'" class="card-img-top" src="{{pelis.Poster}}" alt="Card image cap">
            </div>

            <div class="card-body">
                <h5 class="card-title">{{pelis.Title}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <div class="button-container">

                <button class="btn btn-outline-primary boton" (click)="detalles(pelis.imdbID)">
                        Detalles
                 </button>
                <a [routerLink]="['/pelicula', pelis.imdbID]" class="btn btn-outline-primary">ver mas....</a>

            </div>

        </div>
    </div>


</div>