<div class="row justify-content-md-center mb-2" *ngIf="status == 'success'">
    <div id="user-card" class="col-lg-10 card text-center alert alert-success">
        <h2>Publicacion creada correctamente</h2>
    </div>
</div>
<div class="row justify-content-md-center mb-2" *ngIf="status == 'error'">
    <div id="user-card" class="col-lg-10 card text-center alert alert-danger">
        <h2>Publicacion no ha sido creada!!!!</h2>
    </div>
</div>
<div class="row justify-content-md-center">
    <div id="user-card" class="col-lg-10 card pull-left sombreado text-center">
        <h2>Publicaciones de {{identity.name}}</h2>


        <div *ngFor="let publication of publications" class="item-publication mt-5">

            <div class="rolex">
                <div class="uno">
                </div>
                <div class="dos">
                    <div class="inner-dos">
                        <h5>Escrito por {{publication.user.name}}</h5>
                    </div>
                    <p>{{publication.text}}</p>
                    <br>
                </div>
                <span class="hora-publi">{{ (publication.create_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}</span>
                <div class="tres">
                </div>
                <img src="../../../assets/separador/separador2.gif" alt="">
            </div>
        </div>

        <div class="row justify-content-md-center mb-2">
            <button class="btn btn-outline-dark btn-small" (click)="viewMore()" *ngIf="!noMore">
                Ver mas...
            </button>
        </div>


    </div>
</div>

<div class="row mt-4">


    <div id="user-card" class="col-lg-5 offset-lg-1 card pull-left sombreado text-center" *ngIf="stats">
        <h2>Mis estadisticas</h2>
        <div class="stats">
            <div class="following-data">
                <a href="">
                    <span>Seguidores </span>
                    <span>{{stats.numeroSeguidores}}</span>
                </a>
            </div>
            <div class="following-data">
                <a href="">
                    <span>Siguiendo </span>
                    <span>{{stats.numeroSeguidos}}</span>
                </a>
            </div>
            <div class="following-data">
                <a href="">
                    <span>Publicaciones </span>
                    <span>{{stats.publications}}</span>
                </a>
            </div>
        </div>
    </div>


    <div id="peli-card" class="col-lg-5 card pull-left sombreado text-center ml-1" *ngIf="peliFavorita">
        <h2>Mi peli favorita</h2>
        <div class="wrapper-peli">
            <div class="row">
                <div class="col-md-2 mipeli">
                    <img src="{{peliFavorita.poster}}" alt="" class="pull-left">
                </div>
                <div class="col-md-10">
                    <h5>{{peliFavorita.title}} ({{peliFavorita.year}})</h5>
                    <p>{{peliFavorita.plot}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Formulario de publicaciones -->

<div class="row justify-content-md-center mt-4" id="new-publication">
    <div id="user-card" class="col-lg-10 card pull-left sombreado text-center">
        <h2>Crear nueva publicación</h2>
        <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)" class="col-md-12">
            <p>
                <label>¿En que estas pensando?</label>
                <textarea name="text" #text=ngModel [(ngModel)]="publication.text" class="form-control" id="" cols="30" rows="4" required></textarea>
                <span *ngIf="!text.valid && text.touched">El texto de la publicación es obligatorio</span>
            </p>
            <p>
                <label>Sube una imagen</label>
                <br>
                <input type="file">
            </p>
            <input type="submit" value="Enviar" class="btn btn-success mb-3" [disabled]="!newPubForm.form.valid">
        </form>
    </div>
</div>