h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Lobster', cursive;
}

.sombreado {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(70, 68, 68);
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

.wrapper-peli {
    border: 1px rgb(48, 48, 48) solid;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 8px;
    background-color: #f1cdb1;
}

.mipeli>img {
    /* margin: 0 auto; */
    width: 100%;
    border-radius: 5px;
}

.rolex {
    /* border: 1px solid black; */
    width: 100%;
    display: inline-grid;
    grid-template-columns: 10% auto 10%;
    grid-row-gap: 2%;
    grid-column-gap: 28%;
    /* justify-items: center; */
    justify-content: stretch;
    align-items: center;
}

.uno {
    /* border: 1px solid black; */
    justify-self: center;
}

.dos {
    /* border: 1px solid black; */
    justify-self: center;
}

.hora-publi {
    font-style: italic;
    font-weight: bold;
    color: gray;
}

#user-card>h2 {
    text-decoration: underline;
}

#peli-card>h2 {
    text-decoration: underline;
}

.rolex>img {
    max-width: 90%;
}

.inner-dos>h5 {
    text-decoration: underline;
}