<div class="row justify-content-md-center">
    <div id="user-card" class="col-lg-10 card pull-left sombreado text-center">
        <h2>Publicaciones de {{identity.name}}</h2>
    </div>
</div>
<div class="row mt-4">


    <div id="user-card" class="col-lg-5 offset-lg-1 card pull-left sombreado text-center" *ngIf="stats">
        <h2>estadisticas</h2>
        <div class="stats">
            <div class="following-data">
                <a href="">
                    <span>Siguiendo </span>
                    <span>{{stats.numeroSeguidores}}</span>
                </a>
            </div>
            <div class="following-data">
                <a href="">
                    <span>Seguidores </span>
                    <span>{{stats.numeroSeguidos}}</span>
                </a>
            </div>
            <div class="following-data">
                <a href="">
                    <span>Publicaciones </span>
                    <span>{{stats.publications}}</span>
                </a>
            </div>
        </div>
    </div>


    <div id="peli-card" class="col-lg-5 card pull-left sombreado text-center ml-1" *ngIf="peliFavorita">
        <h2>Mi peli favorita</h2>
        <div class="wrapper-peli">
            <div class="row">
                <div class="col-md-2 mipeli">
                    <img src="{{peliFavorita.poster}}" alt="" class="pull-left">
                </div>
                <div class="col-md-10">
                    <h5>{{peliFavorita.title}} ({{peliFavorita.year}})</h5>
                    <p>{{peliFavorita.plot}}</p>
                </div>
            </div>
        </div>
    </div>

</div>