<div class="container">
    <h1 *ngIf="identity" class="text-center">Selección de peliculas de {{identity.name}}</h1>
    <h1 *ngIf="!identity" class="text-center">Mi Selección de peliculas</h1>
    <br>
    <div class="tarje">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <!-- <th>Poster</th> -->
                    <th>Titulo</th>
                    <th>Pais</th>
                    <th>Director</th>
                    <th>Estrellas</th>
                    <th>Puntos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peli of mispelis" placement="left" ngbTooltip="Pulsa para ver mas detalles de {{ peli.title }}">
                    <!-- <td><a href="https://www.imdb.com/title/{{peli.imdbID}}" target="_blank">{{ peli.title }}</a></td> -->
                    <!-- <td class="poster"><img src="{{ peli.poster }}" alt=""></td> -->
                    <td (click)="hazalgo(peli._id)">{{ peli.title }}</td>
                    <td>{{ peli.country }}</td>
                    <td>{{ peli.director }}</td>
                    <td>
                        <div class="stars-outer">
                            <div [style.width.%]=peli.porcentaje class="stars-inner"></div>
                        </div>
                    </td>
                    <td>{{peli.points}} </td>
                    <td><i class="fas fa-trash-alt" (click)="borrarPeli(peli.imdbID)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
</div>